[Unit] 
Description=Python Pygame Video Engine

[Service] 
Type=simple
WorkingDirectory=/home/music/EYESY_OS/engines/python
ExecStart=nohup python -u main.py

[Install] 
WantedBy=multi-user.target
