[Unit]
Description=Web socket server for Eyesy web server.

[Service]
Type=simple
User=music
Group=music
WorkingDirectory=/home/music/EYESY_OS/web/node
ExecStart=node websockettailer.js

[Install]
WantedBy=multi-user.target
